<h1>Hello, V/Line</h1>

<p>This is a sample program illustrating various requested techniques as decribed in the brief:</p>

<p>
  Provide a sample web application (source files, test data, test code and any assumptions you have made) 
  using Angular 5+ using TypeScript and ASP.Net Core 2+ for a basic train timetable / scheduling application 
  that allows an author to list, add, edit and delete records containing at least three fields of data.
  <br/>
  <br/>
  One of the fields you choose must be a date / time field. Communication between your front-end client and
  backend API should follow CQRS principals. 
  <br/>
  <br/>
  You are free to design the user interface using your preferred frameworks and to choose any form of persistence in your API.
</p>

